#set(title=_res.get(title))
#@layout()
#define main()
<div class="container">
    <div class="datagrid datagrid-striped" id="datagrid-breakfast">
        <h1>#(_res.get("breakfast"))</h1>
        <div class="help-block">#(_res.get("unitDisplayNotice"))</div>
        <div class="datagrid-container" id="datagrid-container-breakfast" style="text-align: center;"></div>
    </div>
    <div class="datagrid datagrid-striped" id="datagrid-lunch">
        <h1>#(_res.get("lunch"))</h1>
        <div class="help-block">#(_res.get("unitDisplayNotice"))</div>
        <div class="datagrid-container" id="datagrid-container-lunch" style="text-align: center;"></div>
    </div>
    <div class="datagrid datagrid-striped" id="datagrid-dinner">
        <h1>#(_res.get("dinner"))</h1>
        <div class="help-block">#(_res.get("unitDisplayNotice"))</div>
        <div class="datagrid-container" id="datagrid-container-dinner" style="text-align: center;"></div>
    </div>
</div>
<div style="width: 1px;height: 100px"></div>
#end

#define css()
<link href="https://cdnjs.cloudflare.com/ajax/libs/zui/1.9.2/lib/datetimepicker/datetimepicker.min.css"
      rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/zui/1.9.2/lib/datagrid/zui.datagrid.min.css" rel="stylesheet"/>
#end

#define lib()
<script src="https://cdnjs.cloudflare.com/ajax/libs/zui/1.9.2/lib/datetimepicker/datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zui/1.9.2/lib/datagrid/zui.datagrid.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zui/1.9.2/lib/chart/zui.chart.min.js"></script>
#end

#define js()
<script>
    let breakfastData=[
        #if(_breakfast)
        #for(i : _breakfast)
    {foodname:'#(i["foodname"]??_res.get("total"))', weight:#(i["weight"]),calorie:#(i["calorie"]), protein: #(i["protein"]),
        fat: #(i["fat"]), carbohydrate: #(i["carbohydrate"]),fid:#(i["fid"]??-1)},
    #end
    #end
    ]

    let lunchData=[
        #if(_lunch)
        #for(i : _lunch)
    {foodname:'#(i["foodname"]??_res.get("total"))', weight:#(i["weight"]),calorie:#(i["calorie"]), protein: #(i["protein"]),
        fat: #(i["fat"]), carbohydrate: #(i["carbohydrate"]),fid:#(i["fid"]??-1)},
    #end
    #end
    ]

    let dinnerData=[
        #if(_dinner)
        #for(i : _dinner)
    {foodname:'#(i["foodname"]??_res.get("total"))', weight:#(i["weight"]),calorie:#(i["calorie"]), protein: #(i["protein"]),
        fat: #(i["fat"]), carbohydrate: #(i["carbohydrate"]),fid:#(i["fid"]??-1)},
    #end
    #end
    ]

</script>
<script src="/js/statistic.js?v=#(version)"></script>
#end