#@layout()
#define main()
<div class="container-fixed-xs">
    Building...
    <form>
        <div class="input-control has-icon-left">
            <input class="form-control" id="inputAccount" placeholder="Username" type="text">
            <label class="input-control-icon-left" for="inputAccount"><i class="icon icon-user "></i></label>
        </div>
        <div class="input-control has-icon-left">
            <input class="form-control" id="inputPassword" placeholder="Password" type="password">
            <label class="input-control-icon-left" for="inputPassword"><i class="icon icon-key"></i></label>
        </div>
        <button class="btn btn-block btn-primary" type="button">Login</button>
    </form>
</div>
#end

#define js()
<script src="/js/login.js?v=#(version)"></script>
#end