#define layout()
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>#(title??)</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/zui/1.9.2/css/zui.min.css" rel="stylesheet"/>
    #@css?()

</head>
<body>
#include("_header.html")
<div class="container" id="main">
    #@main()
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zui/1.9.2/js/zui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<script>
    let resNetworkError = '#(_res.get("networkError"))';
</script>
<script src="/js/common.js?v=#(version)"></script>
#@lib?()

<script src="/js/header.js?v=#(version)"></script>
#@js?()
</body>
</html>
#end